@page
@model EdTube.Pages.Users.EditModel

@{
    ViewData["Title"] = "Изменить пользователя";
}

<h1>Изменить пользователя</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel.Id" />
            <div class="form-floating">
                <input asp-for="UserModel.Name" class="form-control" />
                <label asp-for="UserModel.Name"></label>
                <span asp-validation-for="UserModel.Name" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-top: 8px">
                <input asp-for="UserModel.Email" class="form-control" />
                <label asp-for="UserModel.Email"></label>
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-top: 8px">
                <input asp-for="UserModel.PhoneNumber" class="form-control" />
                <label asp-for="UserModel.PhoneNumber"></label>
                <span asp-validation-for="UserModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-top: 8px">
                <input asp-for="UserModel.NewPassword" class="form-control"/>
                <label asp-for="UserModel.NewPassword"></label>
                <span asp-validation-for="UserModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 8px">
                <label asp-for="UserModel.IsAdmin" class="control-label"></label>
                <input type="checkbox" asp-for="UserModel.IsAdmin"/>
                <span asp-validation-for="UserModel.IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.IsContentCreator" class="control-label"></label>
                <input type="checkbox" asp-for="UserModel.IsContentCreator"  />
                <span asp-validation-for="UserModel.IsContentCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.IsViewer" class="control-label"></label>
                <input type="checkbox" asp-for="UserModel.IsViewer"/>
                <span asp-validation-for="UserModel.IsViewer" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 8px">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}